* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 10%;
  background-color: black;
}
main {
  width: 100%;
  height: 80%;
}
#game {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: 10%;
}
footer input {
  width: 100%;
  height: 50%;
  z-index: 10;
}

.word {
  position: absolute;
  animation: drop 10s;
  z-index: -1;
}
