@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);

* {
  font-family: 'Neo둥근모', 'neodgm', 'Press Start 2P';
  color: #ffffff;
  background-color: #212529;
}

html {
  width: 100%;
  height: 100%;
  background-color: #212529;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  background-color: #212529 !important;
}

#main-section {
  width: 100%;
  height: 90%;
}

#input-section {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-section div {
  width: 100%;
}

#input-section input {
  height: 50%;
  z-index: 10;
}

.word {
  position: absolute;
  animation: drop 10s;
  font-size: 1.3rem;
}

#main-section {
  display: flex;
}

#title-section {
  width: 100%;
  height: 100%;
  display: flex;
}

#main-section,
#retry-section,
#title-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#retry-section {
  width: 100%;
  height: 100%;
  display: none;
}

#game-section {
  width: 100%;
  height: 100%;
  display: none;
}

.title {
  text-align: center;
  font-size: 5rem;
}

.description {
  font-size: 2rem;
  margin-top: 2rem;
}

.description span {
  font-weight: bold;
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 20%;
  }
}
